
@import "../../scss/responsive.scss";
@import "../../scss/variables.scss";

.slider {
    width: 100%;
    height: 21.125rem;
    display: flex;
    align-items: center;
    gap: 1.25rem;
    // overflow: hidden;

    @include xs{
       flex-direction: column;
       gap: 0.5rem;
    }
    
    .fullSlider {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        z-index: 99;
        background-color: black;

        svg {
            width: 100%;
            height: 100%;
            color: var(--fontGreyColor);
            cursor: pointer;
            transition: var(--linksTransition);
            
            &:hover {
                scale: 1.1;
                color: white;
            }
        }

        .arrow {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center; 

            i {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 3.2rem;
                height: 3.2rem;

                @include sm {
                    width: 2.2rem;
                    height: 2.2rem;
                }
            }
        }

        .close {
            position: absolute;
            top: 2%;
            right: 2%;

            svg {
                width: 1.3rem;
                height: 1.3rem;
            }
        }

        .sliderImg {
            flex: 10;
            padding: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 70%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
        border-radius: 1rem;
        transition: var(--linksTransition);

        &:hover {
            transform: scale(0.98);
        }
    }
    .big {
        flex: 3;
        height: 100%;
        overflow: hidden;

        @include xs{
           width: 100%;
        }
    }
    
    .small {
        flex: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0.8rem;

        @include xs{
           height: 27%;
           gap: 0.3rem;
           flex-direction: row;
           width: 100%;
        }
        
        img {
            border-radius: 0.625rem;
            //height: 30%;

            @include xs{
                width: 33%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
