@import "../../scss/responsive.scss";

.layout {
    height: 100vh;
    max-width: 85%;
    margin: 0 auto;
    padding: 0 1.25rem;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    
    
    @include lg {
        // background: var(--buyRentActiveColor);
    }

    @include md {
        max-width: 95%;
        // background: #8e3535;
    }

    @include sm {
        max-width: 100%;
        // background: rgb(233, 233, 233);
    }

    @include xs {
        max-width: 100%;
        // background: rgb(233, 233, 233);
    }
}

.navbar {
    height: 5rem;
    background: white;
    position: sticky;
    top: 0;
    z-index: 20;
}

.page {
    flex: 1;
    display: flex;
    flex-direction: column;
}