@import "../../scss/responsive.scss";
@import "../../scss/variables.scss";

.filter {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;

    h1 {
        font-weight: 300;
        font-size: 1.4rem;
        text-transform: capitalize;

        b {
            background-color: var(--buyRentActiveColor);
            padding: 0.25rem;
        }
    }  

    .item {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;

        label {
            font-size: 0.825rem;
            color: var(--linkHoverColor);
        }

        input, select {
            padding: 0.6rem;
            border: 1px solid var(--neutralLightColor);
            border-radius: 5px;
            font-size: 0.875rem;
            text-transform: capitalize;
        }
    }

    .top {
        input {
            width: 100%;
        }
    }

    .bottom {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1.25rem;

        .item {
            flex: 1;
            input, select {
                width: 90%;
                min-width: 5rem;

                @include lg{
                    width: 100%;
                    gap: 1rem;
                }

                @include md{
                    width: 90%;
                }

                @include sm{
                    max-width: 6.5rem;
                }
            }
        }

        button {
            flex: 1;
            width: 6.25rem;
            min-width: 6.25rem; 
            max-width: 6.25rem; //make better responsiveness
            padding: 1.1rem 0.625rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--btnBcgColor);
            cursor: pointer;
            color:white;
            font-size: 1.25rem;
            transition: all 0.4s ease;

            @include md {
                flex: 1;
                width: 100%;
            }

            &:hover {
                color: var(--linkHoverColor);
            }
        }
    }
}